<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wall Street Surfers - Sinais</title>
  </head>
  <body>  
    <div class="container-xxl">
      <div class="row">
        <div class="col md-2">
          <h1>Wss-sinais</h1>
          <p>Veja nosso grupo no telegram!</p>
        </div>      
        <div class="col">
          <div class="card">
            <div class="card-header">
              {% if dolar %}
              <p><strong>DOLAR</strong></p>
              <p><strong>{{dolar}}</strong></p>            
              {% else %}
                <h1>Mercado fechado</h1>
              {% endif %}
            </div>         
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              {% if indice %}
              <p><strong>Indice Futuro</strong></p>
              <p><strong>{{indice}}</strong></p>            
              {% else %}
                <h1>Mercado fechado</h1>
              {% endif %}
            </div>         
          </div>
          
        </div>
      </div>
      <div class='row'>      
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Estratégia</th>
              <th scope="col">Ativos</th>
              
              <th scope="col">Tempo Grafico</th>            
              <th scope="col">Sinal</th>
            </tr>
          </thead>
          <tbody>          
            <tr>
              <th scope="row">{{model.NAME}}</th>
              <td>{{model.ATIVO_LABEL}}</td>                        
              <td>{{model.TEMPO_GRAFICO}}</td>
              <td></td>
            </tr>       
          </tbody>
        </table>

      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-sm md-8'>
          grafico
        </div>
        <div class='col-sm md-4'>
          <table class='table table-sm table-striped table-bordered' >
            <thead>
              <tr>
                <th scope="col">Corretora</th>
                <th scope="col">Agressão Compra</th>
                <th scope="col">Agressao Venda</th>
                <th scope="col">Compra Passivas</th>
                <th scope="col">Compra Passivas</th>
              </tr>
            </thead>
            <tbody>          
              
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </body>
</html>